<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <link rel="stylesheet" href="../static/css/me.css">
    <title>博客详情</title>
</head>

<body>

    <!-- 导航 -->
    <nav class="ui inverted attached segment m-padded-tb-mini m-shadow-small">
        <div class="ui container">
            <div class="ui inverted secondary stackable menu">
                <h2 class="ui teal header item">Blog</h2>
                <a href="#" class="m-item item m-mobile-hide"><i class="home icon"></i>首页</a>
                <a href="#" class="m-item item m-mobile-hide"><i class="idea icon"></i>分类</a>
                <a href="#" class="m-item item m-mobile-hide"><i class="tags icon"></i>标签</a>
                <a href="#" class="m-item item m-mobile-hide"><i class="clone icon"></i>归档</a>
                <a href="#" class="m-item item m-mobile-hide"><i class="info icon"></i>关于我</a>

                <div class="right m-item item m-mobile-hide">
                    <!-- 搜索框 -->
                    <div class="ui icon inverted transparent input">
                        <input type="text" placeholder="search...">
                        <i class="search link icon"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="ui menu toggle icon black button m-top-right m-mobile-show">
            <i class="sidebar icon"></i>
        </div>
    </nav>

    <!-- 中间部分 -->
    <div class="m-container-small m-padded-tb-big">
        <div class="ui container">
            <!-- header -->
            <div class="ui top attached segment">
                <div class="ui horizontal link list">
                    <div class="item">
                        <img src="https://picsum.photos/id/10/100/100" alt=""
                            class="ui avatar image">
                        <div class="content">
                            <a href="#" class="ui header">张三</a>
                        </div>
                    </div>
                    <div class="item">
                        <i class="calendar icon"></i>2020-12-07
                    </div>
                    <div class="item">
                        <i class="eye icon"></i> 123
                    </div>
                </div>
            </div>
            <div class="ui attached segment">
                <!-- 图片区域 -->
                <img src="https://picsum.photos/id/10/800/450" alt="" class="ui fluid rounded image">
            </div>
            <div class="ui attached padded segment">
                <!-- 内容 -->
                <div class="ui right aligned basic segment">
                    <div class="ui orange basic label">原创</div>
                </div>
                <h2 class="ui center aligned header">xxxxxxxxxxxxxxxxxxx</h2>
                <br>
                <div id="content" class="m-padded-lr-responsive m-padded-tb-large">
                    &nbsp;&nbsp;&nbsp;&nbsp;楚风生命层次跃迁，此时已是一位混元级强者，可以说展现出了最强姿态，但还是遇到这等大敌。
                        <br />
                        <br />&nbsp;&nbsp;&nbsp;&nbsp;洛天仙强的超出众人的想象，让所有人都震撼！
                        <br />
                        <br />&nbsp;&nbsp;&nbsp;&nbsp;她指天天碎，指地地崩，大道符号犹若繁星，罗列虚空中，足可以绞杀万灵。
                        <br />
                        <br />&nbsp;&nbsp;&nbsp;&nbsp;若非楚风将终极拳推演向不可揣度的层次，这次对决多半危矣，他被无穷的灿烂道纹淹没。
                        <br />
                        <br />&nbsp;&nbsp;&nbsp;&nbsp;“轰！”
                        <br />
                        <br />&nbsp;&nbsp;&nbsp;&nbsp;大爆炸声传出，震耳欲聋，那是规则的撕裂，秩序的崩断，两人间毁灭性气息席卷了天上地下。
                        <br />
                        <br />&nbsp;&nbsp;&nbsp;&nbsp;以楚风与洛天仙为中心，在两人的周围，一条又一条数尺宽的黑色大裂缝自虚空中蔓延出去，有的直通天穹，有的没入地心。
                        <br />
                        <br />&nbsp;&nbsp;&nbsp;&nbsp;“杀！”
                        <br />
                        <br />&nbsp;&nbsp;&nbsp;&nbsp;洛天仙再次轻叱，杀字从一个绝色女子口中吐出，竟是杀伐之力震世。
                        <br />
                        <br />&nbsp;&nbsp;&nbsp;&nbsp;在她的身边，杀气冲霄，有形的煞气凝聚成一柄又一柄巨大的仙剑，贯穿了天上地下！
                        <br />
                        <br />&nbsp;&nbsp;&nbsp;&nbsp;天穹被刺破，长空被贯穿，山岳高的粗大剑气，排山倒海般，一起抡动起来，向着楚风劈去。
                        <br />
                        <br />&nbsp;&nbsp;&nbsp;&nbsp;这等场面，这种浩大的声势，简直可断星空，可斩诸天神魔，太惊人了，绚烂的光芒照亮漆黑的域外，也照亮了整片苍茫大地。
                        <br />
                        <br />&nbsp;&nbsp;&nbsp;&nbsp;而这些粗大的剑光，都只是她体外杀气的自行凝聚而已，并非这次的主攻之术。
                        <br />
                        <br />&nbsp;&nbsp;&nbsp;&nbsp;真正的杀招，自然是她在严肃施展的法印。
                        <br />
                        <br />&nbsp;&nbsp;&nbsp;&nbsp;轰隆！
                        <br />
                        <br />&nbsp;&nbsp;&nbsp;&nbsp;这一次，她指天之手下压，指地之手上抬，这本就是一种无敌法印，现在起了变化，导致天地生变。
                        <br />
                        <br />&nbsp;&nbsp;&nbsp;&nbsp;天穹在压落，大地在隆起。
                        <br />
                        <br />&nbsp;&nbsp;&nbsp;&nbsp;更为可怕的是，无尽的道纹垂落，自天穹倾泻到大地上来。
                        <br />
                        <br />&nbsp;&nbsp;&nbsp;&nbsp;这女人太强了，双手同时划动，莫名的大道轨迹演变，天地浓缩，将楚风挤压在当中！
                        <br />
                        <br />&nbsp;&nbsp;&nbsp;&nbsp;天与地竟化成了两块磨盘，要将楚风碾成血泥！
                        <br />
                        <br />&nbsp;&nbsp;&nbsp;&nbsp;轰！
                        <br />
                        <br />&nbsp;&nbsp;&nbsp;&nbsp;楚风那里腾起无尽的符文，其体外不灭经文缭绕，与其血气凝结在一起，自行演绎出道纹。
                        <br />
                        <br />&nbsp;&nbsp;&nbsp;&nbsp;那漫天的剑光，粗大超过山岳的仙剑，都被他体表冲霄而上的道纹磨灭了。
                        <br />
                        <br />&nbsp;&nbsp;&nbsp;&nbsp;轰！
                        <br />
                        <br />&nbsp;&nbsp;&nbsp;&nbsp;仙剑光炸开，不灭道纹激荡，天地间到处都是神光，到处都是可怕的能量弥漫，摧枯拉朽，大地沉陷，虚空塌陷，如同末世来临。
                        <br />
                        <br />&nbsp;&nbsp;&nbsp;&nbsp;当然，最为可怕的还是洛天仙的法印。
                        <br />
                        <br />&nbsp;&nbsp;&nbsp;&nbsp;这时，场外的人看的真切，那片战场中，天穹与大地同时被她熔炼，急骤浓缩，并化成了两块磨盘，挤压楚风的生存空间。
                        <br />
                        <br />&nbsp;&nbsp;&nbsp;&nbsp;“洛天仙太厉害了，阐释佛族的无上法印，又糅合了道族的翻天印，再融入覆地印，竟演化出这样的奇术。”
                        <br />
                        <br />&nbsp;&nbsp;&nbsp;&nbsp;连上苍的真仙都忍不住叹道，给予高度评价。
                        <br />
                        <br />&nbsp;&nbsp;&nbsp;&nbsp;“她竟以这种方法，练成了天地磨盘这种传说中的秘法，当真了不得。”
                        <br />
                        <br />&nbsp;&nbsp;&nbsp;&nbsp;纵然是一些老怪物都在羡慕，因为，有些经文，有些传说中的古法，不是你进化层次高就能练成。
                        <br />
                        <br />&nbsp;&nbsp;&nbsp;&nbsp;诸般神通，无穷妙道，也讲究缘法，需要各种契机才可能参悟到尽头。
                        <br />
                        <br />&nbsp;&nbsp;&nbsp;&nbsp;楚风被两块磨盘挤压到了当中，让所有人关心他的人都提心吊胆。
                        <br />
                        <br />&nbsp;&nbsp;&nbsp;&nbsp;因为，人们都看出来了，那女人太可怕了，连这种传说中的无敌秘法都练成了，实在难以对抗。
                        <br />
                        <br />&nbsp;&nbsp;&nbsp;&nbsp;“天地磨盘，号称可以磨灭苍生，碾碎大道，生灵被困当中，难逃大劫。”上苍的一位道子开口。
                        <br />
                        <br />&nbsp;&nbsp;&nbsp;&nbsp;连他这种人都暗自心惊，早先并不知道洛天仙练成这种天功。
                        <br />
                        <br />&nbsp;&nbsp;&nbsp;&nbsp;“他能挡住吗？！”阳间的人都为楚风捏了一把冷汗，深感惊悚。
                        <br />
                        <br />&nbsp;&nbsp;&nbsp;&nbsp;可以看到，虚空在模糊，在破灭，被那两块磨盘碾碎了，楚风的生存空间越来越小，即将被两块磨盘触及。
                        <br />
                        <br />&nbsp;&nbsp;&nbsp;&nbsp;洛天仙屹立长空中，长裙猎猎展动，青丝飞舞，看起来无比美丽，宛若飞升的女仙，清丽出尘，风华绝世。
                        <br />
                        <br />&nbsp;&nbsp;&nbsp;&nbsp;可是，她的战意却如此的可怕，口中轻叱：“合！”
                        <br />
                        <br />&nbsp;&nbsp;&nbsp;&nbsp;她一手下压，另一只手上抬，两只手相合在一起，而后掌心转动！
                        <br />
                        <br />&nbsp;&nbsp;&nbsp;&nbsp;与此同时，两块巨大的天地磨盘随着她的晶莹的手掌合在一起，也开始缓慢转动，要将楚风压成血泥，磨个形神俱灭。
                        <br />
                        <br />&nbsp;&nbsp;&nbsp;&nbsp;楚风浑身爆发刺目的光束，不灭经文自行运转，他当空而立，竟以肉身撑住了两块磨盘。
                        <br />
                        <br />&nbsp;&nbsp;&nbsp;&nbsp;他如山岿然，道：“无法无念，无时无空，唯身永存，任你千般神通，万般妙道，吾以身横渡，一拳破尽古今法！”
                        <br />
                        <br />&nbsp;&nbsp;&nbsp;&nbsp;轰！
                        <br />
                        <br />&nbsp;&nbsp;&nbsp;&nbsp;他的拳印上满是金色字符，蔓延向全身各处，那是石罐上的文字，被他参悟出来，推演出至强秘术。
                        <br />
                        <br />&nbsp;&nbsp;&nbsp;&nbsp;同时，他以不灭的肉身硬抗磨盘，右腿如剑又如鞭，发出耀眼的光芒，抽了出去，扫向那所谓的无敌磨盘。
                        <br />
                        <br />&nbsp;&nbsp;&nbsp;&nbsp;当！
                        <br />
                        <br />&nbsp;&nbsp;&nbsp;&nbsp;火星四溅，巨大的响声发出，将两界战场不少人的魂光都差点震出来。
                        <br />
                        <br />&nbsp;&nbsp;&nbsp;&nbsp;两块磨盘压向楚风，触及到他的肉身后，竟不能再进一步了，被他生生抵住。
                        <br />
                        <br />&nbsp;&nbsp;&nbsp;&nbsp;喀嚓！
                        <br />
                        <br />&nbsp;&nbsp;&nbsp;&nbsp;虚空在破碎，天地秩序在断裂，规则在崩塌，一切都是因为两块磨盘的伟力，简直是无物不破，皆可磨碎。
                        <br />
                        <br />&nbsp;&nbsp;&nbsp;&nbsp;但是，楚风的肉身竟挡住了，硬抗下来，没有化成血泥！
                        <br />
                        <br />&nbsp;&nbsp;&nbsp;&nbsp;这一景象惊呆了所有人，给上苍中青代带来的震撼性不亚于一场山崩海啸般的大地震。
                        <br />
                        <br />&nbsp;&nbsp;&nbsp;&nbsp;“连这种无敌术都能用肉身硬抗住？！”
                        <br />
                        <br />&nbsp;&nbsp;&nbsp;&nbsp;许多人简直不敢相信自己的眼睛。
                        <br />
                        <br />&nbsp;&nbsp;&nbsp;&nbsp;“谁能杀我体，灭我身？上苍道子也不行！”楚风大喝，发丝飞舞，整个人笼罩着一种魔性光辉。
                        <br />
                        <br />                        
                </div>
                <!-- 标签 -->
                <div class="m-padded-lr-responsive">
                    <div class="ui basic teal left pointing label">方法论</div>
                </div>
                <!-- 赞赏 -->
                <div class="ui center aligned basic segment">
                    <button id="payButton" class="ui orange basic circular button">赞赏</button>
                </div>
                <div class="ui payQuery flowing popup transition hidden">
                    <div class="ui orange basic label">
                        <div class="ui images" style="font-size: inherit !important;">
                            <div class="image">
                                <img src="../static/img/wechat.png" alt="" class="ui rounded bordered image" style="width: 120px;">
                                <div>支付宝</div>
                            </div>
                            <div class="image">
                                <img src="../static/img/wechat.png" alt="" class="ui rounded bordered image" style="width: 120px;">
                                <div>微信</div>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
            <div class="ui attached positive message">
                <!-- 博客信息 -->
                <div class="ui middle aligned grid">
                    <div class="eleven wide column">
                        <ul class="list">
                            <li>作者：zs</li>
                            <li>2020-12-07 17点02分</li>
                            <li>版权申明：xxxxxx</li>
                            <li>连接：xxxxxxx</li>
                        </ul>
                    </div>
                    <div class="five wide column">
                        <img src="../static/img/wechat.png" alt="" class="ui right floated rounded bordered image" style="width: 110px;">
                    </div>
                </div>
            </div>
            <div class="ui bottom attached segment">
                <!-- 留言区域列表 -->
                <div class="ui teal segment">
                    <div class="ui comments">
                        <h3 class="ui dividing header"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">评论</font></font></h3>
                        <div class="comment">
                          <a class="avatar">
                            <img src="https://picsum.photos/id/10/800/450">
                          </a>
                          <div class="content">
                            <a class="author"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">马特</font></font></a>
                            <div class="metadata">
                              <span class="date">今天下午 5:42</span>
                            </div>
                            <div class="text">太赞了！ </div>
                            <div class="actions">
                              <a class="reply"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">回复</font></font></a>
                            </div>
                          </div>
                        </div>
                        <div class="comment">
                          <a class="avatar">
                            <img src="https://picsum.photos/id/10/800/450">
                          </a>
                          <div class="content">
                            <a class="author">Elliot Fu</a>
                            <div class="metadata">
                              <span class="date">昨天上午12:30</span>
                            </div>
                            <div class="text">
                              <p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">这对我的研究是非常有用.谢谢!</font></font></p>
                            </div>
                            <div class="actions">
                              <a class="reply"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">回复</font></font></a>
                            </div>
                          </div>
                          <div class="comments">
                            <div class="comment">
                              <a class="avatar">
                                <img src="https://picsum.photos/id/10/800/450">
                              </a>
                              <div class="content">
                                <a class="author"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">珍妮·赫斯（Jenny Hess）</font></font></a>
                                <div class="metadata">
                                  <span class="date">刚刚</span>
                                </div>
                                <div class="text">艾略特你永远是多么正确 :) </div>
                                <div class="actions">
                                  <a class="reply"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">回复</font></font></a>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="comment">
                          <a class="avatar">
                            <img src="https://picsum.photos/id/10/800/450">
                          </a>
                          <div class="content">
                            <a class="author"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">乔·亨德森</font></font></a>
                            <div class="metadata">
                              <span class="date">5 天以前</span>
                            </div>
                            <div class="text">老兄，这太棒了。非常感谢。 </div>
                            <div class="actions">
                              <a class="reply"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">回复</font></font></a>
                            </div>
                          </div>
                        </div>
                      </div>
                </div>

                <div class="ui form">
                    <div class="field">
                        <textarea name="content" placeholder="请输入评论..."></textarea>
                    </div>
                    <div class="fields">
                        <div class="field m-mobile-wide m-margin-bottom-small">
                            <div class="ui left icon input">
                                <i class="user icon"></i>
                                <input type="text" name="nickname" placeholder="姓名">
                            </div>
                        </div>
                        <div class="field m-mobile-wide m-margin-bottom-small">
                            <div class="ui left icon input">
                                <i class="mail icon"></i>
                                <input type="text" name="email" placeholder="邮箱">
                            </div>
                        </div>
                        <div class="field m-mobile-wide m-margin-bottom-small">
                            <button class="ui teal button m-mobile-wide"><i class="edit icon"></i>发布</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <br>
    <br>
    <br>
    <!-- 底部footer -->
    <footer class="ui inverted vertical segment m-padded-tb-massive">
        <div class="ui center aligned container">
            <div class="ui inverted divided stackable grid">
                <div class="three wide column">
                    <div class="ui inverted link list">
                        <div class="item">
                            <img src="../static/img/wechat.png" alt="" class="ui rounded image" style="width: 110px;">
                        </div>
                    </div>
                </div>
                <div class="three wide column">
                    <h4 class="ui inverted header m-text-thin m-text-spaced ">最新博客</h4>
                    <div class="ui inverted link list">
                        <a href="#" class="item">用户故事（user story）</a>
                        <a href="#" class="item">用户故事（user story）</a>
                        <a href="#" class="item">用户故事（user story）</a>
                        <a href="#" class="item">用户故事（user story）</a>
                    </div>
                </div>
                <div class="three wide column">
                    <h4 class="ui inverted header m-text-thin m-text-spaced ">最新博客</h4>
                    <div class="ui inverted link list">
                        <a href="#" class="item">用户故事（user story）</a>
                        <a href="#" class="item">用户故事（user story）</a>
                        <a href="#" class="item">用户故事（user story）</a>
                        <a href="#" class="item">用户故事（user story）</a>
                    </div>
                </div>
                <div class="seven wide column">
                    <h4 class="ui inverted header m-text-thin m-text-spaced ">最新博客</h4>
                    <p class="m-text-thin m-text-spaced m-opacity-mini">回忆迷惘杀戮多，往事情仇待如何。绢写黑诗无限恨，夙兴夜寐枉徒劳。</p>
                </div>
            </div>

            <div class="ui inverted section divider"></div>
            <p class="m-text-thin m-text-spaced m-opacity-tiny">© 2020 hhhhhhhh</p>
        </div>

    </footer>

    <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.5.1/jquery.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
    <script>
        $('.menu.toggle').click(function () {
            $('.m-item').toggleClass('m-mobile-hide');
        });
        $('#payButton').popup({
            popup : $('.payQuery.popup'),
            on : 'click',
            position : 'bottom center'
        });
    </script>
</body>

</html>